@import url(http://weloveiconfonts.com/api/?family=zocial);

[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

header-1{
    background-color: black;
}
/*
* {
    border: 1px solid red;
}*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Fjalla One', sans-serif;
}

h1, h3 {
    font-family: 'Fjalla One', sans-serif;
}

.article-header {
    font-size: 1.25em;
    border-bottom: 1px solid #E0E0E0;
    text-align: center;
}

.logo{
    max-width:100%;
}

.center-image{
    width: 100%;
}

.col-md-4 img {
    width: 100%;
}

.social-media {
    text-align: right;
    margin: 10px;
}
.social-media a {
    color: #cea4b7;
    margin: 10px;
}
h4 {
    margin: 3px 0;
}
header {
    background-color: #23282d;
    color: #dfe0dd;
}
footer {
    background-color: #23282d;
}
p {
    border-bottom: 1px dotted #E0E0E0;
    font-style: italic;
}