#header-row {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 550px) {
    .logo {
        height: 50px;
    }
    #header-1 {
        width:50%;
    }
    #header-2 {
        width:50%;
        margin:1px 0;
    }
    .main-title {
        font-size: 1.5em;
        margin: 2px;
    }
    .subtitle {
        font-size:1em;
        margin: 2px;
    }
}

@media screen and (min-width: 551px) {
    .logo {
        height: 70px;
    }
    #header-1 {
        width:50%;
    }
    #header-2 {
        width:50%;
    }
    .main-title {
        font-size: 3em;
        margin: 2.5px;
    }
    .subtitle {
        font-size:1.5em;
        margin: 2.5px;
    }
    .article-header{
        font-size:2em;
    }
}

@media screen and (min-width: 900px) {
    .logo {
        height: 90px;
    }
    #header-1 {
        width:50%;
    }
    #header-2 {
        width:50%;
    }
    .main-title {
        font-size: 4em;
        margin: 2.5px;
    }
    .subtitle {
        font-size:2em;
        margin: 2.5px;
    }
}